html {
  scroll-behavior: smooth;
}
body {
  padding: 0;
  margin: 0;
  border: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
  scrollbar-width: none;
}
body::-webkit-scrollbar {
  width: 0px;
}

body::-webkit-scrollbar-thumb {
  background-color: transparent;
}
.header {
  background: linear-gradient(to right, #000000, #4d4d4d);
  opacity: 0.85;
  width: 100%;
  height: 75px;
  margin: 0;
  padding: 8px 0px 0px 0px;
  border: 0;
}
.logo {
  border-radius: 100%;
  height: 50px;
  padding: 8px 15px 0px 8px;
  float: left;
}
.heading {
  font-weight: bold;
  font-family: "Noto serif";
  margin: 0px;
  padding-top: 8px;
  color: white;
  font-weight: 400;
  font-size: 30px;
  letter-spacing: 2px;
  padding-right: 10px;
  padding-left: 10px;
}
.subheading {
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  margin: 0px;
  font-weight: 200;
  position: relative;
  bottom: 5px;
  color: white;
  letter-spacing: 6px;
  position: relative;
  left: 10px;
}
@media screen and (max-width: 900px) {
  .banner
  {
    margin-top: 150px;
    padding: 0 120px 45px 0px;
  }
  .subheading {
    font-size: 12px;
  }
  .logo {
    display: none;
  }
  .landingimg {
    position: relative;
    right: 700px;
  }
}
.landingimg {
  width: auto;
  height: 1080px;
  z-index: -1;
  position: relative;
  bottom: 300px;
}
/*################################################### Navbar ################################*/
.topnav {
  background: linear-gradient(to right, #000000, #4d4d4d);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  padding: 0px 20px;
  opacity: 0.85;
  margin-top: 5px;
  position: sticky;
  top: 0px;
}
/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 4vw;
  text-decoration: none;
  font-size: 17px;
  font-family: 'Montserrat', sans-serif;
}
/* Change the color of links on hover */
.navitem:hover {
  background-color: #ddd;
  color: black;
  padding-bottom: 15px;
}
.search-bar {
  padding: 5px 2.5vw;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.4);
  margin: 0% 5px;
  border-color: rgb(133, 133, 133);
  font-family: 'Montserrat', sans-serif;
  color: white !important;
  font-weight: 500;
}
.search-bar:focus{
  outline: none;
}
.search-bar::placeholder
{
  color: white;
  font-family: 'Montserrat', sans-serif;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}
.search-bar:focus
{
  caret-color: white;
}
/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}
@media screen and (max-width: 1200px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 1200px) {
  .topnav.responsive {
    position: sticky;
    top: 0px;
     display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
.banner
{
  width:500px;
  height: 100%;
  padding-left: 30px;
  padding-right: 30px;
  position: relative;
  bottom: 850px;
  z-index: -1;
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
}
/*################################################### Footer ################################*/
footer {
  font-family: "Poppins", sans-serif;
  width: 100%;
  border: 0px;
}
.container-fluid {
  margin: 0;
}
.foot-pannel {
  background-color: #37475a;
  color: white;
  height: 6vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.85rem;
}
.foot-pannel2 {
  background-color: #222f3d;
  color: white;
  display: flex;
  justify-content: space-evenly;
  padding-top: 20px;
}

ul {
  margin-top: 20px;
}

ul a {
  display: block;
  font-size: 0.85rem;
  margin-top: 10px;
  color: #dddddd;
  cursor: pointer;
}

.foot-pannel3 {
  background-color: #222f3d;
  color: white;
  height: 9vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.85rem;
  margin: 0 12px;
  border-top: 0.5px solid white;
  padding: 0px;
  margin: 0px;
}

.logoname h1 {
  font-family: "Noto Sans", sans-serif;
  height: 6vh;
  width: 100px;
}

.foot-pannel4 {
  background-color: #1a1a1a;
  color: white;
  height: 15vh;
  font-size: 0.7rem;
  text-align: center;
}
.pages {
  font-size: 0.7rem;
  text-align: center;
  padding-top: 25px;
}
.copyright {
  padding-top: 5px;
  text-align: center;
}
#backtotop {
  text-decoration: none;
  outline: none;
  color: white;
}
#backtotop :visited {
  outline: none;
}
