
        .alert {
            margin-bottom: 4rem;
        }
        .my-12 {
            margin-top: 3rem !important;
            margin-bottom: 3rem !important;
        }
       * {
            border: 0 solid #e7eaf0;
            box-sizing: border-box;
        }
        div {
            display: block;
        }
        body {
            margin: 0;
            font-family: var(--x-body-font-family);
            font-size: var(--x-body-font-size);
            font-weight: var(--x-body-font-weight);
            line-height: var(--x-body-line-height);
            color: var(--x-body-color);
            text-align: var(--x-body-text-align);
            background-color: var(--x-body-bg);
            -webkit-text-size-adjust: 100%;
            -webkit-tap-highlight-color: rgba(0,0,0,0);
        }
        html, body {
            background-color: #ebe8e8 !important;
            overflow-x: hidden;
            /* font-family: "IBM Plex Sans" !important; */
        }
        body {
            margin: 0;
            font-family: var(--bs-body-font-family);
            font-size: var(--bs-body-font-size);
            font-weight: var(--bs-body-font-weight);
            line-height: var(--bs-body-line-height);
            color: var(--bs-body-color);
            text-align: var(--bs-body-text-align);
            background-color: var(--bs-body-bg);
            -webkit-text-size-adjust: 100%;
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        }
        :root {
            --x-white: #FFF;
            --x-gray-50: #FAFAFA;
            --x-gray-100: #F5F9FC;
            --x-gray-200: #E7EAF0;
            --x-gray-300: #CFD6DF;
            --x-gray-400: #ABB6C5;
            --x-gray-500: #8898A9;
            --x-gray-600: #6B7B93;
            --x-gray-700: #525F7F;
            --x-gray-800: #2D3748;
            --x-gray-900: #16192C;
            --x-black: #000;
            --x-blue-100: #ccebff;
            --x-blue-200: #99d6ff;
            --x-blue-300: #66c2ff;
            --x-blue-400: #33adff;
            --x-blue-500: #0099FF;
            --x-blue-600: #007acc;
            --x-blue-700: #005c99;
            --x-blue-800: #003d66;
            --x-blue-900: #001f33;
            --x-indigo-100: #dedffd;
            --x-indigo-200: #bebffb;
            --x-indigo-300: #9da0f9;
            --x-indigo-400: #7d80f7;
            --x-indigo-500: #5C60F5;
            --x-indigo-600: #4a4dc4;
            --x-indigo-700: #373a93;
            --x-indigo-800: #252662;
            --x-indigo-900: #121331;
            --x-purple-100: #e7ddff;
            --x-purple-200: #d0bcff;
            --x-purple-300: #b89aff;
            --x-purple-400: #a179ff;
            --x-purple-500: #8957FF;
            --x-purple-600: #6e46cc;
            --x-purple-700: #523499;
            --x-purple-800: #372366;
            --x-purple-900: #1b1133;
            --x-pink-100: #ffddeb;
            --x-pink-200: #ffbcd7;
            --x-pink-300: #ff9ac2;
            --x-pink-400: #ff79ae;
            --x-pink-500: #FF579A;
            --x-pink-600: #cc467b;
            --x-pink-700: #99345c;
            --x-pink-800: #66233e;
            --x-pink-900: #33111f;
            --x-magenta-100: #fcd6ff;
            --x-magenta-200: #f8adff;
       
        }
        :root {
            --bs-breakpoint-xs: 0;
            --bs-breakpoint-sm: 576px;
            --bs-breakpoint-md: 768px;
            --bs-breakpoint-lg: 992px;
            --bs-breakpoint-xl: 1200px;
            --bs-breakpoint-xxl: 1400px;
        }
        :root, [data-bs-theme=light] {
            --bs-blue: #0d6efd;
            --bs-indigo: #6610f2;
            --bs-purple: #6f42c1;
            --bs-pink: #d63384;
            --bs-red: #dc3545;
            --bs-orange: #fd7e14;
            --bs-yellow: #ffc107;
            --bs-green: #198754;
            --bs-teal: #20c997;
            --bs-cyan: #0dcaf0;
            --bs-black: #000;
            --bs-white: #fff;
            --bs-gray: #6c757d;
            --bs-gray-dark: #343a40;
            --bs-gray-100: #f8f9fa;
            --bs-gray-200: #e9ecef;
            --bs-gray-300: #dee2e6;
            --bs-gray-400: #ced4da;
            --bs-gray-500: #adb5bd;
            --bs-gray-600: #6c757d;
            --bs-gray-700: #495057;
            --bs-gray-800: #343a40;
            --bs-gray-900: #212529;
            --bs-primary: #0d6efd;
            --bs-secondary: #6c757d;
            --bs-success: #198754;
            --bs-info: #0dcaf0;
            --bs-warning: #ffc107;
            --bs-danger: #dc3545;
            --bs-light: #f8f9fa;
            --bs-dark: #212529;
            --bs-primary-rgb: 13, 110, 253;
            --bs-secondary-rgb: 108, 117, 125;
            --bs-success-rgb: 25, 135, 84;
            --bs-info-rgb: 13, 202, 240;
            --bs-warning-rgb: 255, 193, 7;
            --bs-danger-rgb: 220, 53, 69;
            --bs-light-rgb: 248, 249, 250;
            --bs-dark-rgb: 33, 37, 41;
            --bs-primary-text-emphasis: #052c65;
            --bs-secondary-text-emphasis: #2b2f32;
            --bs-success-text-emphasis: #0a3622;
            --bs-info-text-emphasis: #055160;
            --bs-warning-text-emphasis: #664d03;
            --bs-danger-text-emphasis: #58151c;
            --bs-light-text-emphasis: #495057;
            --bs-dark-text-emphasis: #495057;
            --bs-primary-bg-subtle: #cfe2ff;
            --bs-secondary-bg-subtle: #e2e3e5;
            --bs-success-bg-subtle: #d1e7dd;
        
        }
        *, *::before, *::after {
            border: 0 solid #e7eaf0;
        }
        *, *::before, *::after {
            box-sizing: border-box;
        }
        *, *::before, *::after {
            box-sizing: border-box;
        }
        *, *::before, *::after {
            border: 0 solid #e7eaf0;
        }
        *, *::before, *::after {
            box-sizing: border-box;
        }
        *, *::before, *::after {
            box-sizing: border-box;
        }
        